@using System.Security.Claims

@{
    ViewData["Title"] = "Power BI Embedded Report";
}

<div class="row">
    <div class="col-3">
        @{
            var userName = User.FindFirstValue("name");
            var email = User.FindFirstValue("email");
            var role = User.FindFirstValue("roles");
        }

        <span class="d-block bg-info text-white pl-2 pr-2"><strong>Name:</strong> @userName</span>
        @* Enabled optional claims in app registration in order to get email address *@
        <span class="d-block bg-light text-dark pl-2 pr-2"><strong>Email:</strong> @email</span>
        <span class="d-block bg-warning text-dark pl-2 pr-2"><strong>Role:</strong> @role</span>
    </div>
</div>

<div class="row">
    <section id="report-container" class="col mt-3">
    </section>
</div>

<div class="row">
    <section class="col mt-3">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>ClaimType</th>
                <th>Value</th>
            </tr>

            @foreach (var claim in User.Claims)
            {
                <tr>
                    @{
                        if (claim.Type == "roles" || claim.Type ==
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
                        {
                            <td><b>@claim.Type</b></td>
                        }
                        else
                        {
                            <td>@claim.Type</td>
                        }
                    }

                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    </section>
</div>

<!-- Used to display report embed error messages -->
<section class="error-container m-5">
</section>